@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

.travelPage * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.travelPage html {
  font-size: 62.5%;
}

.travelPage {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: "Quicksand";
  font-weight: 500;
}

.travelPage .app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.travelPage h1 {
  text-align: center;
  background-color: #f4a226;
  font-family: "Monoton";
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 300;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 0.6rem 0;
}

.travelPage .addForm {
  background-color: #e5771f;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.travelPage h3 {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

.travelPage select,
input {
  background-color: #ffebb3;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 8px 18px;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}
.travelPage .addForm input {
  background-color: #ffebb3;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 8px 18px;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

.travelPage .addForm button {
  text-transform: uppercase;
  background-color: #76c7ad;
  text-align: center;
  font-size: 18px;
  padding-right: 20px;
  padding: 1rem 1.8rem;
  border-radius: 10rem;
}

.travelPage .list {
  background-color: #5a3e2b;
  color: #ffebb3;
  padding: 8rem 0;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.travelPage .actions button,
.list select {
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.8rem;
}
.travelPage .actions button {
  text-transform: uppercase;
  background-color: #76c7ad;
  text-align: center;
  font-size: 18px;
  padding-right: 20px;
  padding: 1rem 1.8rem;
  border-radius: 10rem;
}

.travelPage .list ul {
  list-style: none;
  width: 80%;
  /* overflow: scroll; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}

.travelPage .list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.travelPage input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #e5771f;
}

.travelPage .list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  transform: translateY(2px);
}

.travelPage .stats {
  background-color: #76c7ad;
  text-align: center;
  font-weight: 700;
  padding: 1.05rem 0;
}
